.about-container {
    min-width: 350px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    padding-top: 10px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.about-box {
    height: 80vh;
    width: 100%;
    padding: 15px 0px;
    padding-top: 0;
    padding-bottom: 100px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;

    /* justify-content: center; */
}


/* =======================
WHY BOX
======================= */
.why-box {
    /* border: 1px solid red; */

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.why-box h3 {
    padding: 0px 20px;
    margin: 5px;
    font-weight: 800;
    color: var(--color-text-accent);
    /* background-color: var(--color-accent-soft); */

    /* border: 1px solid red; */
}

.why-box .why-list {}

.why-list p {
    margin: 10px 0px;
    font-size: 14px;
    color: var(--color-text-accent);
    font-family: var(--font-lora);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
}

.why-list .check-icon {
    font-size: 16px;
    margin-right: 10px;
    color: var(--color-accent-soft);
}


/* =======================
OPENING HOURS
======================= */
.opening-box {
    /* border: 1px solid red; */

    padding: 10px;
    border-radius: 8px;
    background-color: #e2d8cc;
}

.section-title {
    padding: 10px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-title h3 {
    color: var(--color-text-accent);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}

.section-title .section-img {
    /* border: 1px solid red; */
    width: 200px;

}

.section-img img {
    width: 100%;
    height: 100%;
}

.about-desc {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-desc p {
    line-height: 2;
    text-align: justify;
    color: #2e2e2e;
    width: 80%;
    font-size: 14px;
    font-family: var(--font-lora);
}

.opening-card {
    text-align: center;
    /* padding: 20px; */
    /* background: rgb(255, 255, 255); */
    border-radius: 18px;
    /* background-color: var(--color-accent-soft); */
}

.opening-card h4 {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: normal;
    color: var(--color-text-accent);
}

.opening-card p {
    color: var(--color-text-accent);
    font-size: 15px;
    font-weight: bold;
    font-family: var(--font-lora);
}

.about-loc {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}

.about-loc p {
    /* border: 1px solid red; */
    width: 100%;
    padding: 0;
    font-size: 12px;
    /* text-align: center; */
    letter-spacing: 1px;
    font-family: var(--font-lora);
}

.about-icon {
    color: var(--color-accent-soft);
    font-size: 1.5rem;
    margin-top: 4px;
}

.about-img img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}