.sp-container {
    min-width: 360px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    padding-top: 10px;
    gap: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sp-content {
    /* border: 1px solid orange; */
    width: 100%;
    height: 80vh;
    padding-bottom: 80px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* =======================
CHEF MENU
======================= */
.chef-pick {
    /* border: 1px solid blue; */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.chef-badge {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 7px 15px;
    /* margin-bottom: 20px; */
    width: 100%;

    position: relative;
}

.chef-badge p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* padding: 10px; */
    color: var(--color-accent);
    text-shadow: var(--medium-shadow);
    width: 100%;
    text-align: center;

    font-family: var(--font-lora);
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
}

.chef-card {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.chef-card span {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid var(--res-color-brown);
}

.pic-img {
    width: 100%;
    height: 190px;
}

.pic-img img {
    width: 100%;
    height: 100%;
}

.chef-desc {
    width: 95%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    border-bottom: 0.5px solid var(--color-accent-soft);
}

.chef-desc h4 {
    width: 90%;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text-accent);
}

.chef-desc p {
    width: 80%;
    padding: 0;
    font-size: 12px;
    text-align: left;
    font-family: var(--font-lora);
}


/* =======================
GUEST MENU
======================= */
.guest-pick {
    /* border: 1px solid green; */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}


.guest-badge {
    display: flex;
    align-items: center;
    justify-content: space-between;


    padding: 7px 15px;
    margin-bottom: 20px;
    width: 100%;

    position: relative;
}

.guest-badge p {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    font-size: 16px;
    color: var(--color-accent);
    font-weight: 800;
    text-shadow: var(--medium-shadow);
    width: 100%;
    text-align: center;
    font-family: var(--font-lora);

    /* background: #dfe8de;
    border-radius: 14px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .08); */

}

.guest-wrapper {
    /* border: 1px solid red; */
    width: 100%;
}

.guest-box {
    /* border-bottom: 1px solid #6f6f6f2b; */
    width: 100%;
    height: fit-content;
    padding: 2px 0px;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.guest-pic {
    width: 100%;
    height: 150px;
    margin-right: 10px;
    /* border-radius: 999px; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.guest-pic img {
    width: 100% !important;
    height: 100%;
}

.guest-desc {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* border: 1px solid red; */
    font-family: var(--font-body);

    color: var(--res-color);
}

.guest-desc h4 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    width: 100%;
    text-align: left;
    /* letter-spacing: 1px; */
}

.guest-desc p {
    font-size: 12px;
    width: 100%;

    color: var(--color-accent);
    /* border: 1px solid red; */
    text-align: left;
}

.guest-desc span {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}


/* =======================
MORE RECOMENDATION
======================= */
.mc-badge {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--res-color-brown);
    /* border-radius: 8px; */
    padding: 7px 10px;
    margin-bottom: 20px;
    width: 100%;
    /* border-bottom: 1px solid var(--res-color-brown); */

    position: relative;
}

.mc-badge p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    font-size: 16px;
    color: var(--res-color);
    font-weight: 800;
    text-shadow: var(--medium-shadow);
    width: 100%;
    text-align: left;
    background: #dfe8de;
    border-radius: 14px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .08);
}